@use './../_variables' as vars;
@use './../_mixins' as mix;

.card {
  position: relative;
  background-color: vars.$purple;
  border: 1px solid vars.$purple;
  width: 441px;
  height: 749px;
  border-radius: vars.$border-radius;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s ease-out;
  @include mix.respond(large-1500) {
    width: 455px;
    height: 716px;
  }
  @include mix.respond(medium-960) {
    width: 290px;
    height: 600px;
  }
  @include mix.respond(small-430) {
    width: 300px;
    height: 601px;
  }
  &:hover {
    transform: translateY(-10px);
  }
  &__image {
    width: 100%;
    height: 436px;
    border-top-left-radius: vars.$border-radius;
    border-top-right-radius: vars.$border-radius;
    @include mix.respond(medium-960) {
      height: 395px;
    }
    &__img {
      @include mix.img();
      border-top-left-radius: vars.$border-radius;
      border-top-right-radius: vars.$border-radius;
    }
  }
  &__text-block {
    height: 311px;
    @include mix.center(0);
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 50px;
    &__top {
      @include mix.center(18px);
      flex-direction: column;
      @include mix.respond(medium-960) {
        gap: 10px;
      }
    }
    @include mix.respond(large-1500) {
      height: 280px;
      padding-top: 15px;
      padding-bottom: 35px;
    }
    @include mix.respond(medium-960) {
      padding: 15px 25px 10px;
    }
    @include mix.respond(small-430) {
      padding-bottom: 5px;
    }
  }
  &__title {
    @include mix.mainText2;
    margin-right: 4px;
    @include mix.respond(medium-960) {
      margin-right: 0;
    }
  }
  &__text {
    @include mix.mainText();
    color: vars.$white;
    text-align: center;
  }
  &__button {
    cursor: pointer;
    transition: all 0.4s ease-out;
    @include mix.button(240px, transparent, 10px, vars.$purple);
    @include mix.respond(large-1500) {
      gap: 12px;
    }
    @include mix.respond(medium-960) {
      margin-top: 0;
      gap: 12px;
    }
    @include mix.respond(small-430) {
      margin-top: 0;
      margin-bottom: 4px;
    }
    &__text {
      @include mix.buttonText(vars.$orange);
      letter-spacing: 1.5px;
    }
    &__svg {
      color: vars.$orange;
    }
    &:hover {
      border-color: vars.$orange;
      background-color: vars.$orange;
    }
    &:hover .card__button__text {
      color: vars.$white;
    }
    &:hover .card__button__svg {
      color: vars.$white;
    }
  }
  &__name {
    background-color: vars.$purple;
    padding: 12px 20px;
    position: absolute;
    @include mix.mainText2;
    border-top-left-radius: vars.$border-radius;
    border-bottom-right-radius: vars.$border-radius;
  }
}
