@use './../_variables' as vars;
@use './../_mixins' as mix;

.header {
  &__container {
    height: 110px;
    width: 100%;
    background-color: vars.$orange;
    @include mix.center-between();
  }

  &__title {
    width: 96px;
    height: 50px;
    margin: 0;
    @include mix.respond(small-430) {
      margin-left: 10px;
    }
  }

  &__hidden {
    visibility: hidden;
  }

  &__right-block {
    @include mix.center(67px);
    scroll-behavior: smooth;
    @include mix.respond(large-1500) {
      gap: 80px;
    }
    @include mix.respond(large-1080) {
      gap: 30px;
    }
    @include mix.respond(medium-850) {
      display: flex;
      z-index: 10;
      width: 311px;
      height: 1400px;
      position: fixed;
      right: -100vw;
      background-color: vars.$purple;
      flex-flow: column wrap;
      align-content: center;
      padding-top: 796px;
      transform: translateX(0);
      transition: transform 0.4s linear;
      &[data-open] {
        transform: translateX(-100vw);
      }
    }
    @include mix.respond(small-430) {
      display: flex;
      z-index: 10;
      width: 233px;
      height: 1400px;
      position: fixed;
      right: -100vw;
      background-color: vars.$purple;
      flex-flow: column wrap;
      align-content: center;
      padding-top: 775px;
      transform: translateX(0);
      transition: transform 0.4s linear;
      &[data-open] {
        transform: translateX(-100vw);
      }
    }
  }

  &__navigation {
    @include mix.center(48.25px);
    scroll-behavior: smooth;
    cursor: pointer;
    @include mix.respond(large-1500) {
      @include mix.center(30px);
    }
    @include mix.respond(large-1080) {
      @include mix.center(20px);
    }
    @include mix.respond(medium-850) {
      gap: 50px;
      flex-direction: column;
    }
    @include mix.respond(small-430) {
      gap: 40px;
      flex-direction: column;
    }
    &_item {
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.4s ease-out;
      cursor: pointer;
      @include mix.text('Montserrat', normal, vars.$black, 18px, 150%, 600, 0);
      @include mix.respond(medium-850) {
        color: vars.$white;
      }
      @include mix.respond(small-430) {
        color: vars.$white;
      }
      &_active {
        color: vars.$turquoise;
        @include mix.respond(medium-850) {
          color: vars.$turquoise;
        }
        @include mix.respond(small-430) {
          color: vars.$turquoise;
        }
      }
    }
    &_item:hover {
      color: vars.$turquoise;
    }
  }

  &__social {
    @include mix.center(30px);
    @include mix.respond(large-1080) {
      @include mix.center(20px);
    }
    @include mix.respond(medium-850) {
      display: none;
    }
    @include mix.respond(small-430) {
      display: none;
    }
    &_item img {
      width: 40px;
      height: 40px;
    }
  }

  &__burger-menu {
    display: none;
    margin-right: 21px;
    cursor: pointer;
    border: none;
    position: relative;
    transform-origin: center;
    transition: transform 1s linear;
    &_line {
      width: 30px;
      height: 2.31px;
      background-color: vars.$black;
      &_cross {
        display: none;
        width: 39.72px;
        height: 2.31px;
        background-color: vars.$white;
      }
      @include mix.respond(small-430) {
        width: 22px;
      }
    }
    &[data-open] {
      z-index: 20;
      margin-right: 12px;
    }
    @include mix.respond(medium-850) {
      background-color: transparent;
      @include mix.center(11.54px);
      flex-direction: column;
      justify-content: center;
      transition: 0.4s ease-out;
    }
    @include mix.respond(small-430) {
      background-color: transparent;
      @include mix.center(11.54px);
      flex-direction: column;
      justify-content: center;
      transition: 0.4s ease-out;
    }
    &[data-open] .header__burger-menu_line {
      display: none;
    }
    &[data-open] .header__burger-menu_line_cross {
      display: flex;
      transform: rotate(45deg) translateY(8.5px) translateX(1px);
      @include mix.respond(small-430) {
        transform: rotate(44deg) translateY(6px) translateX(3.5px);
      }
    }
    &[data-open] .header__burger-menu_line_cross:last-child {
      display: flex;
      transform: rotate(-45deg) translateY(-9px) translateX(1px);
      @include mix.respond(small-430) {
        transform: rotate(-44deg) translateY(-6.5px) translateX(3.5px);
      }
    }
  }
}
