@use './../_variables' as vars;
@use './../_mixins' as mix;

.meet {
  &__container {
    padding: 136px 0 150px;
    @include mix.center(50px);
    flex-direction: column;
  }

  &__title {
    @include mix.title(54px);
  }

  &__text {
    @include mix.text('Montserrat', 'normal', vars.$black, 26px, 130%, 500, 0);
    text-align: center;
    max-width: 920px;
  }

  &__button {
    @include mix.button(359px, transparent, 10px, vars.$purple);
    transition: all 0.4s linear;
    &__text {
      @include mix.buttonText(vars.$purple);
    }
    &__svg {
      color: vars.$purple;
    }
    &:hover {
      border-color: vars.$white;
      background-color: vars.$purple;
    }
    &:hover .meet__button__text {
      color: vars.$white;
    }
    &:hover .meet__button__svg {
      color: vars.$white;
    }
  }
}
