@use './../_variables' as vars;
@use './../_mixins' as mix;

.sticky-container {
  position: relative;
  overflow: auto;
  height: 100vh;
}

.zoos-main {
  position: relative;
  z-index: 2;
  top: -850px;
  @include mix.respond(large-1130) {
    top: -500px;
  }
  @include mix.respond(small-639) {
    top: -300px;
  }
}

.panel {
  width: 220px;
  background-color: vars.$purple;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: all 0.5s linear;
  &[panel-open="true"] {
    transform: translateX(0);
    width: 300px;
  }
  &[panel-open="false"] {
    transform: translateX(-0);
    width: 220px;
  }
  @include mix.respond(large-1500) {
    width: 115px;
  }
  @include mix.respond(large-1130) {
    width: 78px;
  }
  @include mix.respond(small-639) {
    width: 50px;
  }

  &__bage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 38px;
    background: vars.$orange;
    border-radius: 0 0 5px 0;
    &__text {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: vars.$white;
    }
    @include mix.respond(large-1500) {
      display: none;
    }
  }

  &__top {
    height: 80px;
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid vars.$white;
    position: relative;
    @include mix.respond(large-1500) {
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    @include mix.respond(large-1130) {
      height: 50px;
    }
  }
  &__bottom {
    @include mix.center(0);
    height: 86px;
    justify-content: center;
    cursor: pointer;
    @include mix.respond(large-1130) {
      height: 50px;
    }
  }
  &__svg {
    cursor: pointer;
    transition: all 0.5s linear;
  }

  &__animal {
    height: 171px;
    border-bottom: 1px solid vars.$white;
    position: relative;
    @include mix.center(0);
    justify-content: center;
    @include mix.respond(large-1130) {
      height: 100px;
    }
    @include mix.respond(small-639) {
      height: 50px;
    }
    &__circle {
      cursor: pointer;
      width: 104px;
      height: 104px;
      border-radius: 50%;
      @include mix.center(0);
      justify-content: center;
      transition: all 0.5s linear;
      background: vars.$orange;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      @include mix.respond(large-1500) {
        background-color: vars.$purple;
        width: 100px;
        height: 100px;
      }
      @include mix.respond(large-1130) {
        height: 50px;
        width: 50px;
      }
      @include mix.respond(small-639) {
        height: 25px;
        width: 25px;
      }
    }
    &__panda {
      width: 84px;
      height: 65px;
      color: vars.$purple;
      @include mix.respond(large-1500) {
        color: vars.$orange;
      }
      @include mix.respond(large-1130) {
        width: 40px;
        height: 30px;
      }
    }
    &__eagles {
      width: 66px;
      height: 62px;
      color: vars.$purple;
      @include mix.respond(large-1500) {
        color: vars.$orange;
      }
      @include mix.respond(large-1130) {
        width: 40px;
        height: 40px;
      }
    }
    &__gorilla {
      width: 68px;
      height: 60px;
      color: vars.$purple;
      @include mix.respond(large-1500) {
        color: vars.$orange;
      }
      @include mix.respond(large-1130) {
        width: 34px;
        height: 30px;
      }
    }
    &__lemur {
      width: 35px;
      height: 56px;
      color: vars.$purple;
      @include mix.respond(large-1500) {
        color: vars.$orange;
      }
      @include mix.respond(large-1130) {
        width: 25px;
        height: 35px;
      }
    }
    &__koala {
      width: 68px;
      height: 66px;
      color: vars.$purple;
      @include mix.respond(large-1500) {
        color: vars.$orange;
      }
      @include mix.respond(large-1130) {
        width: 45px;
        height: 40px;
      }
    }
    &__lion {
      width: 68px;
      height: 60px;
      color: vars.$purple;
      @include mix.respond(large-1500) {
        color: vars.$orange;
      }
      @include mix.respond(large-1130) {
        width: 40px;
        height: 30px;
      }
    }
    &__alligator {
      width: 66px;
      height: 68px;
      color: vars.$purple;
      @include mix.respond(large-1500) {
        color: vars.$orange;
      }
      @include mix.respond(large-1130) {
        width: 45px;
        height: 35px;
      }
    }
    &__tiger {
      width: 68px;
      height: 64px;
      color: vars.$purple;
      @include mix.respond(large-1500) {
        color: vars.$orange;
      }
      @include mix.respond(large-1130) {
        width: 44px;
        height: 35px;
      }
    }
    &__border {
      display: none;
      position: absolute;
      transition: all 0.5s linear;
    }

    &__text {
      @include mix.mainText();
      line-height: 130%;
      color: vars.$white;
      max-width: 169px;
      display: none;
      transition: all 0.5s linear;
    }

    &[panel-open="true"] {
      gap: 20px;
      padding-right: 20px;
      justify-content: flex-start;
      & .panel__animal__border {
        display: none;
      }
      & .panel__animal__circle {
        background-color: vars.$purple;
        box-shadow: none;
      }
      & .panel__animal__circle svg {
        color: vars.$orange;
      }
      & .panel__animal__text {
        display: flex;
      }
    }
  }
}

.active {
  cursor: pointer;
}
.active > .panel__animal__border {
  display: flex;
  @include mix.respond(large-1500) {
    display: none;
  }
}

.active > .panel__animal__circle {
  background-color: vars.$white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include mix.respond(large-1500) {
    background-color: vars.$purple;
  }
}

.active > .panel__animal__circle svg {
  color: vars.$purple;
  @include mix.respond(large-1500) {
    color: vars.$white;
  }
}

.active[panel-open="true"] .panel__animal__circle svg {
  color: vars.$white;
}

.close-button {
  display: none;
  &[panel-open="true"] {
    display: flex;
  }
}

.open-button {
  display: flex;
  &[panel-open="true"] {
    display: none;
  }
}
