@use './../_variables' as vars;
@use './../_mixins' as mix;

.slider {
  padding-right: 0;
  padding-left: 260px;
  max-width: 100%;
  overflow: hidden;
  &__buttons {
    display: flex;
    gap: 55px;
    margin-top: 50px;
    @include mix.respond(large-1500) {
      margin-top: 70px;
    }
    @include mix.respond(large-1080) {
      margin-top: 70px;
    }
    @include mix.respond(medium-960) {
      display: none;
    }
  }

  &__button {
    width: 60px;
    height: 60px;
    @include mix.center(0);
    justify-content: center;
    background-color: transparent;
    border-radius: vars.$border-radius;
    border: 1px solid vars.$purple;
    cursor: pointer;
    transition: all 0.4s linear;
    &__svg {
      color: vars.$purple;
    }
    &:hover {
      background-color: vars.$purple;
    }
    &:hover .slider__button__svg {
      color: vars.$white;
    }
    &:disabled {
      background-color: vars.$gray;
      cursor: default;
    }
    &:disabled:hover .slider__button__svg {
      color: vars.$purple;
    }
  }

  &__ribbon {
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    gap: 40px;
    width: max-content;
    transition: transform 0.5s ease-out;
    @include mix.respond(large-1500) {
      gap: 20px;
    }
    @include mix.respond(large-1080) {
      gap: 20px;
    }
    @include mix.respond(medium-960) {
      grid-template-rows: auto;
      gap: 20px;
    }
  }

  @include mix.respond(large-1500) {
    padding-left: 40px;
  }
  @include mix.respond(large-1080) {
    padding-left: 40px;
  }
  @include mix.respond(medium-960) {
    padding: 18px 20px 0;
  }
  @include mix.respond(small-430) {
    padding: 0 10px 0;
    margin-top: -8px;
  }

}
