$max-container-width: 1920px;
$orange: #f58021;
$dark-orange: #d26004;
$black: #000000;
$navy: #20113d;
$white: #ffffff;
$turquoise: #00a092;
$turquoise-black: #05786e;
$turquoise-transparent: #00a09280;
$purple: #20113d;
$border-radius: 5px;
$gray: #a4a8ae;
