@use './../../node_modules/modern-normalize/modern-normalize.css';
@use './fonts/fonts';
@use './components/container';
@use './components/header';
@use './components/watch';
@use './components/welcome';
@use './components/donation';
@use './components/meet';
@use './components/slider';
@use './components/card';
@use './components/feed';
@use './components/users';
@use './components/care';
@use './components/footer';
@use './components/map';
@use './components/contact';
@use './components/modal';
@use './components/pop-up';
@use './components/camera';
@use './components/know';
@use './components/panel';

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}
