@use './../../node_modules/modern-normalize/modern-normalize.css';
@use './fonts/fonts';
@use './components/container';
@use './components/header';
@use './components/watch';
@use './components/welcome';
@use './components/donation';

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}
